{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/header.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>All Cafés</h1>
          <span class="subheading">A list of trendy places and information about them </span>
          <a class="btn btn-success text-uppercase mt-5" href="{{ url_for('add_new_cafe') }}">Report New Café</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container">
    <div class="row mb-5">
      <div class="col-sm-12">
          <a class="btn btn-outline-dark text-uppercase btn-block btn-sm" href="{{ url_for('show_all_cafes_wifi') }}">WiFi</a>
          <a class="btn btn-outline-dark text-uppercase btn-block btn-sm" href="{{ url_for('show_all_cafes_wc') }}">WC</a>
          <a class="btn btn-outline-dark text-uppercase btn-block btn-sm" href="{{ url_for('show_all_cafes_meeting') }}">Meetings</a>
          <a class="btn btn-outline-dark text-uppercase btn-block btn-sm" href="{{ url_for('show_all_cafes_sockets') }}">Sockets</a>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">

      <!-- Post preview-->
        <div class="col-xs-12 col-sm-12">
          {% for cafe in all_cafes %}
            {{ cafe.name }}, {{ cafe.location }}
            {% if cafe.has_wifi  %}
              <img src = "../static/assets/img/wifi.svg" alt="WiFi"/>
            {% endif %}
            {% if cafe.has_toilet  %}
              <img src = "../static/assets/img/wc.svg" alt="WC"/>
            {% endif %}
            {% if cafe.can_take_calls  %}
              <img src = "../static/assets/img/laptop.svg" alt="Meetings"/>
            {% endif %}
            {% if cafe.has_sockets  %}
              <img src = "../static/assets/img/plug-fill.svg" alt="Sockets"/>
            {% endif %}

            <div class="edit-delete-btn " style="float: right">
              <a class="btn btn-info text-uppercase btn-sm" href="{{ url_for('cafe_info', cafe_id=cafe.id) }}">Info</a>
              <a class="btn btn-warning text-uppercase btn-sm" href="{{ url_for('edit_cafe', cafe_id=cafe.id) }}">Edit</a>
              <a class="btn btn-danger text-uppercase btn-sm" href="{{ url_for('delete_cafe', cafe_id=cafe.id) }}">Delete</a>
            </div>
            <hr class="my-4" />
          {% endfor %}
        </div>
    </div>

</div>

{% include "footer.html" %}
